<style>
    a {
        color: aqua;
    }
</style>



<div class="page-header">
    <h1><%= pageTitle %></h1>
</div>

<div class="spread-card-container">
    
    <div class="spread-card">
        <h5>Welcome to the world of Jonny O!</h5>

        <p>This site is currently under construction... it was started on: Monday, January 16th 2023. Please feel free to look around.</p>
        <p style="font-size: 0.8rem;">NOTICE: Anything & EVERYTHING on this website may be considered PROOF OF CONCEPT (so far, only on the route '<a href="/single-project/widespread">/single-project/widespread</a>'). Any attempt to recreate any hardware and/or software will result in immediate legal action.</p>
    </div>



</div>