<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
        <script src="/js/main.js" defer></script>
</head>
<body>
        <div id="mainMenu">
        <% if (pageTitle == 'Home') { %>
            <div class="main-menu-item main-menu-item-active"><a href="/">Home</a></div>
            <% } else { %>
                <div class="main-menu-item"><a href="/">Home</a></div>
        <% } %>
        <% if (pageTitle == 'Portfolio') { %>
            <div class="main-menu-item main-menu-item-active"><a href="/portfolio">Portfolio</a></div>
            <% } else { %>
                        <div class="main-menu-item"><a href="/portfolio">Portfolio</a></div>
        <% } %>
        <% if (pageTitle == 'Contact') { %>
            <div class="main-menu-item main-menu-item-active"><a href="/contact">Contact</a></div>
            <% } else { %>
                <div class="main-menu-item"><a href="/contact">Contact</a></div>
        <% } %>
    </div>


    <%- body %>



</body>
</html>