<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jonny O's World</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Thasadith:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/style.css">

    <script src="/js/main.js" defer></script>
</head>
<body>
    <div id="bgImage" style="background-image: url('/images/bg_1.jpg');">
    <!-- <img src="/images/bg_1.jpg" alt=""></div> -->
    <div id="mainMenu">
        <% if (pageTitle == 'Home') { %>
            <div class="main-menu-item main-menu-item-active"><a href="/">Home</a></div>
            <% } else { %>
                <div class="main-menu-item"><a href="/">Home</a></div>
        <% } %>
        <% if (pageTitle == 'Portfolio') { %>
            <div class="main-menu-item main-menu-item-active"><a href="/portfolio">Portfolio</a></div>
            <% } else { %>
                        <div class="main-menu-item"><a href="/portfolio">Portfolio</a></div>
        <% } %>
        <% if (pageTitle == 'Contact') { %>
            <div class="main-menu-item main-menu-item-active"><a href="/contact">Contact</a></div>
            <% } else { %>
                <div class="main-menu-item"><a href="/contact">Contact</a></div>
        <% } %>
    </div>
    <div id="mainContainer">
        <%- body %>
    </div>
    <div id="coreKeyboard">
        <%- include('./partials/keyboard'); %>
    </div>
</body>
</html>