/* 
font-family: 'Herr Von Muellerhoff', cursive;
font-family: 'Thasadith', sans-serif;
*/

@font-face {
    font-family: Otto;
    src: url('../fonts/cursive.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #010101;
    font-family: 'Thasadith', sans-serif;
    overflow-x: hidden;
}
.range__wrapper {
    -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

}
.range__wrapper:focus {
    outline: none !important;
}
#bgImage {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    z-index: -9999;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#coreKeyboard {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    border-top: solid 2px aqua;
    background-color: rgba(0, 255, 255, 0.25);
    backdrop-filter: blur(10px);
}

/* MAIN MENU */
#mainMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 5rem;
    z-index: 80000;
    background-color: #01010125;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid 2px aqua;
    box-shadow: 0 0 20px rgba(0, 255, 242, 0.958);
}

#mainMenu .main-menu-item a {
    font-family: 'Otto';
    padding: 5px;
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
    user-select: none;
}

#mainMenu .main-menu-item-active a {
    color: aqua;
}
.main-menu-item a {
    font-family: 'Otto';
    font-size: 2rem;
}

#signatureContainer {
    width: 100vw;
    background-color: #0000002c;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
#signatureContainer  h1{
    rotate: -10deg;
    font-family: 'Otto';
    font-size: 25rem;
    font-weight: lighter;
    text-shadow: 0 0 10px aqua;
    opacity: 0.45;
    user-select: none;
    animation-name: 'glow';
    animation-duration: 2000;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@keyframes glow {
    0% {
        text-shadow: 0 0 10px aqua;
    }

    50% {
        text-shadow: 0 0 30px #fff;
    }

    100% {
        text-shadow: 0 0 10px aqua;
    }
}
.page-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hotpink;
    padding: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
background-color: rgba(0, 0, 0, 0.365);
    box-shadow: inset 0 0 300px rgba(27, 35, 36, 0.781);
}
.page-background img {
    max-width: 100%;
}

.page {
    position: relative;
    width: 100vw;
    padding-bottom: 100vh;
    z-index: 1;
    min-height: 120vh;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: -20vh;
    overflow-x: hidden;
}



.page-header {
    margin-top: 40vh;    
    margin-bottom: 25rem;    
    width: 100%;
    z-index: 3;
}
.page-header h1 {
    font-family: 'Otto';
    text-align: center;
    font-size: 8rem;
    padding-top: 5px;
    font-weight: lighter;
    color: #fff;
    cursor: default;
    user-select: none;
}

.page-section {
    background-color: rgba(0, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    width: 800px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
}

.page-section-link {
    background-color: rgba(0, 255, 255, 0.25);
    box-shadow: inset 0 0 12px #ffffff7a;
    padding: 1rem;
    border-radius: 1rem;
    width: fit-content;
}

.page-section a {
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
}



.hidden {
    display: none;
}


#bgThree {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -50000;
    background-image: url('/images/bg_universe_1a.jpg');
    background-size: cover;
    backdrop-filter: brightness(50%);
}

canvas {
    display: block;
}

#canvas_container {
    width: 100%;
    height: 100vh;
}

button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #111;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 0.5rem 0.9em;
    background: #000000;
    color: #111;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
}

button:hover {
    background: #ffffff;
    color: #000000;
}



    @media screen and (max-width: 900px) {

        #signatureContainer {

        }
                        
        #signatureContainer h1 {
            font-family: 'Otto';
            font-size: 10rem;
            font-weight: lighter;
        }
        #mainMenu {

            width: 100vw;
            height: 4rem;
            background-color: #01010125;
            backdrop-filter: blur(4px);
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-evenly;
            border-bottom: solid 2px aqua;
            box-shadow: 0 0 20px rgba(0, 255, 242, 0.5);
            transition: ease-in-out 500ms;
            z-index: 99900;
        }
        #mainMenu:hover {
            backdrop-filter: blur(10px);
            background-color: rgba(0, 255, 255, 0.25);
        }
        #mainMenu .main-menu-item a {
            font-family: 'Otto';
            font-size: 2rem;
            color: #fff;
            text-decoration: none;
            transition: ease-out 1250ms;
            text-shadow: 0 0 2px transparent;
            user-select: none;
        }
        #mainMenu .main-menu-item-active a {
            color: aqua;
        }
        #mainMenu .main-menu-item a:hover {
            text-shadow: 0 0 6px #010101;
            color: aqua;
            transition: ease-in 250ms;
        }
        .spread-card-data {
            width: 80%;
        }

        .spread-card:hover .spread-card-data {
            /* scale: 1.1; */
        }

        .spread-card-header h2 {
            font-size: 3rem;
        }


        .page-header h1 {
            font-size: 5rem;
        }
    }

    @media screen and (orientation: landscape) and (min-width: 900px) {
        .spread-card {
            width: 40%;
            max-height: 50vh;

        }

        .spread-card-data {
            flex-direction: column;
        }

        .spread-card-header,
        .spread-card-body,
        .spread-card-footer {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            width: calc(100% + 2px);
        }

        .spread-card-header {
            margin-top: -1px;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            background-color: rgba(0, 255, 255, 0.25);
        }

        .spread-card-body {
            border: none;
            border-top: solid 1px aqua;
            border-bottom: solid 1px aqua;
            border-radius: 0;
            width: calc(100% + 2px);
        }

        .spread-card-body p {
            font-size: 1.2rem;
        }

        .spread-card-body-slider {
            background-color: transparent;
            transition: ease-in-out 500ms;
            backdrop-filter: blur(0);
        }

        .spread-card-body-slider:hover {
            background-color: rgba(0, 255, 255, 0.25);
            backdrop-filter: blur(10px);
        }

        .spread-card-body-slider:hover::-webkit-scrollbar-thumb {
            background-color: rgba(0, 255, 255, 1);
            box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.75);
        }

        .spread-card-footer {
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            transition: ease-in-out 250ms;
        }

        .spread-card-footer:hover {
            background-color: aqua;
        }

        .spread-card-footer:hover a {
            text-shadow: 0 0 5px #000;
        }


    }
    @media screen and (max-width: 400px) {
        .page-title {
            background-color: aqua;
            box-shadow: 0 0 10px aqua;
        }
        
                #signatureContainer {

                }
        
                #signatureContainer h1 {
                    font-family: 'Otto';
                    font-size: 6rem;
                    font-weight: lighter;
                }
        #mainMenu {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100vw;
            height: 4rem;
            z-index: 80000;
            background-color: #01010125;
            backdrop-filter: blur(4px);
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-evenly;
            border-bottom: solid 2px aqua;
            box-shadow: 0 0 20px rgba(0, 255, 242, 0.958);
        }
        #mainMenu .main-menu-item a {
            font-family: 'Otto';
            padding: 5px;
            font-size: 1.5rem;
            color: #fff;
            text-decoration: none;
            user-select: none;
        }
        #mainMenu .main-menu-item-active a {
            color: aqua;
        }
        #mainContainer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100vw;
            right: 0;
            padding-top: 200px;
            z-index: -1;
            height: 100vh;
            min-height: 100vh;
            overflow-x: hidden;
            overflow-x: auto;
    
        }

        .page-header {
            margin-top: 40vh;
        }
        .page-header h1 {
            font-size: 5rem;
        }
        .page-section {
            margin-bottom: 25vh;
        }
        .page-section-body h3 {
            font-size: 5rem;
            color: #fff;
            font-family: 'Otto';
            text-align: center;
            font-weight: lighter;
            margin-bottom: 2rem;
        }
        .page-section-body h5 {
            color: aqua;
            font-size: 2rem;
            text-align: center;
            border-bottom: solid 1px #fff;
            margin-bottom: 2.5rem;
            padding-bottom: 2.5rem;
            font-weight: lighter;
        }

        .page-section-body p {
            color: #fff;
        }
        .hidden {
            display: none;
        }
        .spread-card-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-evenly;
            gap: 5rem;
            margin-inline: auto;
            margin-bottom: 50px;
            width: 95%;
            margin-inline: auto;
        }

        .spread-card {
            width: 100%;
            min-width: 300px;
            height: 80vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 2rem;
            border-radius: 16px;
            border: solid 1px aqua;
            border-left: solid 1px transparent;
            border-right: solid 1px transparent;
            transition: ease-in-out 750ms;
            background-color: transparent;
            backdrop-filter: blur(4px);
            transition: ease-in-out 750ms;
        }

        .spread-card h5 {
            color: #fff;
            font-size: 1.5rem;
            text-align: center;
        }
        .spread-card p {
            color: #fff;
            font-size: 1.2rem;
            padding: 8px;
        }
        .spread-card:hover {
            background-color: #01010125;
            border-left: solid 1px aqua;
            border-right: solid 1px aqua;
            box-shadow: 0 0 30px rgba(0, 255, 255, 0.5);
            backdrop-filter: blur(10px);
        }

        .spread-card-data {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-radius: 16px;
            transition: ease-in-out 500ms;
            border: solid 1px transparent;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .spread-card:hover .spread-card-data {
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6), inset 0 0 20px rgba(0, 255, 255, 0.5);
            border: solid 1px aqua;
        }

        .spread-card-header,
        .spread-card-body,
        .spread-card-footer {
            width: calc(100% + 2px);
        }

        .spread-card-header {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -1px;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            background-color: rgba(0, 255, 255, 0.25);

        }

        .spread-card-header h2 {
            font-size: 1.5rem;
            color: #fff;
            font-weight: lighter;
            padding: 1rem;

        }

        .spread-card-body {
            border-bottom: solid 1px aqua;
            border-top: solid 1px aqua;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .spread-card-body p {
            color: #fff;
            font-size: 1rem;
            width: 100%;
            margin-inline: auto;
            padding: 15px;
            border-top: solid 1px #fff;
            border-bottom: solid 1px #fff;
            border-left: solid 1px transparent;
            border-right: solid 1px transparent;
            backdrop-filter: blur(10px);
            background-color: #01010125;
            transition: ease-in-out 500ms;
        }
        .spread-card:hover .spread-card-body p {
            border-left: solid 1px aqua;
            border-right: solid 1px aqua;

        }
        .spread-card-body-slider {
            width: 90%;
            border-left: solid 1px aqua;
            border-right: solid 1px aqua;
            margin-top: 20px;
            border-radius: 16px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
            overflow-x: auto;
            gap: 2rem;
            height: 150px;
            overflow-y: hidden;
            padding: 1rem;
            margin-bottom: 20px;
        }

        .spread-card-body-slider::-webkit-scrollbar {
            /* width: 12px;
        height: 12px; */
            width: 12px;
            height: 12px;
        }

        /* Track */
        .spread-card-body-slider::-webkit-scrollbar-track {}

        .spread-card-body-slider::-webkit-scrollbar-track-piece {
            box-shadow: inset 0 0 5px rgba(255, 255, 255, 1);
            border-radius: 0;
            border-top-left-radius: 100%;
            border-top-right-radius: 100%;
            padding: 5px;
            background-color: transparent;
        }

        /* Handle */
        .spread-card-body-slider::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 1);
            backdrop-filter: blur(10px);
            height: 5px;
            width: 5px;
            max-width: 5px;
            max-height: 5px;
            border-top-left-radius: 100%;
            border-top-right-radius: 100%;
            padding: 2px;
            transition: ease-in-out 500ms;
        }

        .spread-card-body-slider::-webkit-scrollbar-button {
            background-color: transparent;
        }

        /* Handle on hover */
        .spread-card-body-slider::-webkit-scrollbar-thumb:hover,
        .spread-card-body-slider:hover::-webkit-scrollbar-thumb {
            background-color: rgba(0, 255, 255, 1);
            box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.75);
        }

        .spread-card-body-slider img {
            max-height: 100%;
            border-radius: 8px;
            box-shadow: 0 0 5px aqua;
        }

        .spread-card-footer {
            text-align: center;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 255, 255, 0.75);
            box-shadow: inset 0 0 15px #fff;
            margin-bottom: -1px;
        }

        .spread-card-footer a {
            padding: 1rem;
            font-size: 1.5rem;
            text-decoration: none;
            color: #fff;
            width: 100%;
            height: 100%;
        }
    }

    @media screen and (orientation: landscape) {
        .spread-card {
            width: 100%;
        }

        .spread-card-data {
            position: relative;
            width: 100%;
            max-height: 100%;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-top: 0;
            height: 100%;
        }

        .spread-card:hover .spread-card-data {
            scale: none;
        }

        .spread-card-header,
        .spread-card-body,
        .spread-card-footer {
            position: absolute;
        }

        .spread-card-header,
        .spread-card-footer {
            width: 40%;
            left: 0;
            border: none;
        }

        .spread-card-header {
            top: 0;
            border-radius: 0;
            border-top-left-radius: 16px
        }

        .spread-card-footer {
            bottom: 0;
            border-radius: 0;
            border-bottom-left-radius: 16px;
        }

        .spread-card-footer a {
            font-size: 1.5rem;
        }

        .spread-card-body {
            border: none;
            border-left: solid 1px aqua;
            right: 0;
            width: 60%;
            height: 100%;
            overflow-y: auto;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
        }

        .spread-card-header h2 {
            font-size: 1.5rem;
        }

        .spread-card-body-slider {
            height: 100px;
            margin-inline: auto;
            width: 90%;
            min-height: 100px;
        }

        .spread-card-body-slider img {
            height: 100%;
            max-height: 150px;
            width: auto;
        }
    }


    #virtualKeyboardData {
        margin-bottom: 100vh;

    }
    .test-button {
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 10px rgba(0, 255, 0, 0.75);
        color: lime;
        font-size: 1.2rem;
        font-weight: bold;
        margin-inline: auto;
        width: 80vw;
        text-align: center;
        padding: 10px;
        border: solid 1px lime;
        border-top: none;
    }
    .test-button:last-of-type {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

    }
    table {
        width: 100%;
        background-color: lime;
        border-collapse: collapse;
        border-bottom: solid 10px #000;
    }

    table caption {
        background-color: #000;
        color: lime;
        font-size: 2rem;
        font-weight: bold;
    }

    th,
    td {
        padding: 3px;
        width: 50%;
    }

    th {
        border-bottom: solid 1px #000;
    }

    table tr td:first-of-type {
        text-align: right;
        font-weight: bold;
    }

    table tr td:last-of-type {
        text-align: left;
        position: relative;
        padding-left: 6px;
    }

    table tr td:last-of-type::before {
        position: absolute;
        content: ':';
        top: 0;
        left: -3px;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
        width: 5px;
        color: #000;
        font-weight: bold;
    }


        .range__wrapper {
            /* position: absolute; */
            z-index: 2;
            /* left: 50%; */
            /* top: 50%; */
            /* transform: translate(-50%, -50%); */
            width: 320px;
            height: 480px;
            background-color: transparent;
            backdrop-filter: blur(6px);
            border-radius: 20px;
            box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
            box-shadow: 0 40px 20px #0000008a, inset -10px 10px 10px #ffffff11, inset 0 0 40px #ffffff3a;
            border-top: solid 1px #ffffff67;
            border-right: solid 1px #ffffff67;
            user-select: none;
            cursor: pointer;
            overflow: hidden;
            user-select: none;
            touch-action: none;
            transition: ease-in-out 750ms;
            
        }
        .range__wrapper:hover {
            background-color: #ffffff16;
        }
        .range__wrapper::after {
            content: 'Portfolio Progress';
            position: absolute;
            top: 10px;
            left: 80px;
            transform: translate(-50% -50%);
            color: #ffffff87;
            font-weight: lighter;
            font-size: 0.75rem;
            text-align: center;
            width: 160px;
        }
        .range__input {
            display: none;
        }
    
        .range__slider {
            position: absolute;
            left: 0;
            top: 0;
        }
    
        .range__slider__path {
            fill: #ededed98;
            stroke: #ffffff88;
            stroke-linejoin: round;
            stroke-width: 2px;
            stroke-linecap: round;
        }
    
        .range__marks__path {
            fill: none;
            stroke-dashoffset: 3px;
            stroke: orangered;
            stroke-width: 2px;
        }
    
        .range__marks__pink {
            stroke: #555;
            text-shadow: 0 0 3px aqua;
            background-color: lime;
        }
    
        .range__marks__white {
            stroke: #111;
        }
    
        .range__values {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }
    
    
        .range__value {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 40px 30px;
        }
        
        .range__value--top {
            position: absolute;
            bottom: 100%;
            color: #ccccccc7;
            text-shadow: 0 0 3px rgba(255, 255, 255, 0.333);
        }
        
        .range__value--bottom {
            color: #555;
        }
        
        .range__value__number {
            font-size: 70px;
            margin: 0 10px;
        }
        
        .range__value__number--top {
            /* transform-origin: 100% 100%;  */
        }
        
        .range__value__number--bottom {
            /* transform-origin: 100% 0; */
        }
        
        .range__value__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 70px;
            font-size: 13px;
            font-size: 1rem;
            text-transform: uppercase;

        }
        .range__value__text span:first-child {
            margin-bottom: 3px;
            font-weight: bolder;
        }
    
        .range__value__text span:last-child {
            font-weight: lighter;
            color: #fff;
        }
        .red-text {
            font-weight: lighter;
            color: red;
        }
    
        .range__value__text--top {
            align-self: flex-end;
            /* margin-bottom: 13px; */
        }
    
        .range__value__text--bottom {
            /* margin-top: 10px; */
        }

        .range__value__number--top .percentage {
            text-shadow: 0 0 3px #ffffff4a;
            color: rgba(255, 255, 255, 0.15);
        }
        .percentage {
            color: rgba(255, 255, 255, 0.05);
            text-shadow: 0 0 3px #00000079;
            font-size: 30px;
            right: 50%;
            bottom: 50%;
            transform: translate(125%, 0%);
            z-index: -3;
        }





